/* ~~~~~~~~ general ~~~~~~~~ */

body {
  background: #F8E5E4;
  color: #C10805;
  font-family: 'Lato', sans-serif;
}

p {

}

a {
  color: #C10805;
  text-decoration: none;
}

ul {
  list-style: none;
  padding-left: 0;
}

/* ~~~~~~~~ header ~~~~~~~~ */
header {
  position: fixed;
  left: 50%;
  transform: translate(-50%, 0);
}

header h1, .navigation li, footer p {
  font-weight: 900;
  letter-spacing: 0.2em;
  font-size: 11px;
}

header h1 {
  letter-spacing: 0.5em;
  text-transform: uppercase;
}

/* ~~~~~~~~ nav ~~~~~~~~ */

.navigation {
  position: fixed;
  transform: rotate(90deg);
  transform-origin: right;
  bottom: 0;
  right: 25px;
}

.navigation li {
  display: inline-block;
  margin-right: 20px;
  padding: 5px;
}

/* ~~~~~~~~ main ~~~~~~~~ */

.full-section {
  width: 100%;
  height: 100vh;
  min-height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 800px;
  margin: 0 auto;
}

.center {
  text-align: center;
}

/* ~~~~~~~~ footer ~~~~~~~~ */
