/* ~~~~~~~~ general ~~~~~~~~ */
body {
  background: #F8E5E4;
  color: #C10805;
  font-family: 'Lato', sans-serif;
}

.row {
  margin: 0;
}

p {
  font-size: 0.9em;
}

a {
  color: #C10805;
  text-decoration: none;
}

h4 {
  font-size: 0.8em;
  font-weight: 900;
  letter-spacing: 0.1em;
}

.center {
  text-align: center;
  margin: 0 auto;
}

img {
  width: 100%;
  height: auto;
  min-width: 200px;
}

/* ~~~~~~~~ header ~~~~~~~~ */
header h1{
  font-weight: 900;
  letter-spacing: 0.4em;
  text-transform: uppercase;
  font-size: 1.8em;
}

.fixed-header {
  position: fixed;
  top:15px;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 9999;
  font-size: 0.5em;
}

.fixed-adjustment {
  padding-top: 36px;
}

.navigation li, footer p, #contact {
  font-weight: 900;
  letter-spacing: 0.2em;
  font-size: 12px;
}

/* ~~~~~~~~ nav ~~~~~~~~ */
.navigation {
  position: fixed;
  transform: rotate(90deg);
  transform-origin: right;
  bottom: 0;
  right: 35px;
  z-index: 9999;
}

.navigation li {
  display: inline-block;
  margin-right: 20px;
  padding: 5px;
}

/* ~~~~~~~~ main ~~~~~~~~ */
.full-section {
  width: 100%;
  height: 100vh;
  min-height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 800px;
  margin: 0 auto;
}

.container-limited {
  max-width: 700px;
  margin: 0 auto;
}

/* ~~~~~~~~ about ~~~~~~~~ */
#about {
  margin: 0 auto 100px;
}

#about section:nth-child(1) {
  margin-bottom: 50px;
}

#about p {
  width: 80%;
  min-width: 350px;
  margin: 5px auto;
}

/* ~~~~~~~~ portfolio ~~~~~~~~ */

/* ~~~~~~~~ skills ~~~~~~~~ */

/* ~~~~~~~~ contact ~~~~~~~~ */

/* ~~~~~~~~ footer ~~~~~~~~ */
