/* ~~~~~~~~ general ~~~~~~~~ */
body {
  background: #F8E5E4;
  color: #C10805;
  font-family: 'Lato', sans-serif;
}

.row {
  margin: 0;
}

p {
  font-size: 0.9em;
}

a {
  color: #C10805;
  text-decoration: none;
}

li {
  list-style: none;
}

.center {
  text-align: center;
  margin: 0 auto;
}

img {
  width: 100%;
  height: auto;
  min-width: 200px;
  border-radius: 2px;
}

.navigation li, footer p, h4, .small-bold, #portfolio li {
  font-weight: 900;
  letter-spacing: 0.2em;
  font-size: 12px;
}

/* ~~~~~~~~ header ~~~~~~~~ */
header h1{
  font-weight: 900;
  letter-spacing: 0.4em;
  text-transform: uppercase;
  font-size: 1.8em;
}

.fixed-header {
  position: fixed;
  top:15px;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 9999;
  font-size: 0.5em;
}

.fixed-adjustment {
  padding-top: 36px;
}

/* ~~~~~~~~ nav ~~~~~~~~ */
.navigation {
  position: fixed;
  transform: rotate(90deg);
  transform-origin: right;
  bottom: 0;
  right: 35px;
  z-index: 9999;
}

.navigation li {
  display: inline-block;
  margin-right: 20px;
  padding: 5px;
}

/* ~~~~~~~~ main ~~~~~~~~ */
.full-section {
  margin: 0 auto;
  width: 100%;
  max-width: 800px;
  height: 100vh;
  min-height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container-limited {
  max-width: 700px;
  margin: 0 auto;
}

/* ~~~~~~~~ about ~~~~~~~~ */
#about {
  margin: 20px auto 100px;
}

#about section:nth-child(1) {
  margin-bottom: 50px;
}

#about p {
  width: 80%;
  min-width: 350px;
  margin: 5px auto;
}

#about section:nth-child(1) {
  margin: 0 auto 20px;
}

.image-block {
  max-width: 320px;
}

.highlighted {
  border-bottom: 1px solid #C10805;
  padding: 2px;
}

/* ~~~~~~~~ skills ~~~~~~~~ */
#skills {
  padding-top: 20px;
  margin-bottom: 50px;
}

#skills article:nth-child(1) {
  margin-top: 100px;
}

#skills article:nth-child(2) {
  margin-top: 50px;
}

.bar-graph {
  width: 400px;
  padding: 5px;
  border-right: 1px solid #C10805;
  transition: width 1s ease-in;
  position: relative;
}

.bar-graph::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 400px;
  height: 100%;
  border: 1px solid #C10805;
  border-radius: 2px;
}

.title, .title::before {
  border-width: 0;
}

/* ~~~~~~~~ portfolio ~~~~~~~~ */
#portfolio {
  max-width: 900px;
  margin: 0 auto;
}

/* ~~~~~~~~ contact ~~~~~~~~ */
#contact p {
  font-size: 12px;
}

/* ~~~~~~~~ mobile ~~~~~~~~ */

@media screen and (max-width: 576px) {
  body {
    padding: 0 10px;
  }

  graph {
    margin: 50px auto;
  }

  .bar-graph {
    width: 300px;
  }

  .bar-graph::before {
    width: 300px;
  }

  #skills article:nth-child(1) {
    margin-top: 0;
  }

  #skills article:nth-child(2) {
    margin-top: 0;
  }
}
